body {
	font-family: 'Raleway', cursive;
	background-image: url("http://1.bp.blogspot.com/-aLG3zd3GJC8/UY9wJpe2xPI/AAAAAAAAEIA/y11bwmsRgzs/s1600/IMG_5311.jpg");
	background-size: cover;
	color: #000;
}

p {
	color: #000;
	font-size: 20px;
}

h1 {
	font-size: 105px;
	line-height: .8;
	letter-spacing: 5px;
	color: #BE5E48;
	font-family: 'Abril Fatface', cursive;
}

h2 {
	font-family: 'Raleway', cursive;
	font-size: 40px;
	font-style: italic;
	line-height: 1.5;
	color: #BE5E48;
}

h3 {
	font-family: 'Raleway', cursive;
	font-size: 30px;
	color: #BD567B;
}

#title {
	z-index: 200;
	top: 55px;
	left: -75px;
}

#info {
	background: #BFB6AD;
	text-align: left;
	padding: 55px 20px 20px 30px;
	margin-left: -20px;
	margin-right: 20px;
}

#game {
	background: #BFB6AD;
	height: 620px;
	margin-left: 20px;
	padding: 30px 20px 20px 30px;
}

/* border */
#top,
#bottom,
#left,
#right {
	background: #BE5E48;
	position: fixed;
}

#left,
#right {
	top: 0; bottom: 0;
	width: 20px;
}
	#left { left: 0; }
	#right { right: 0; }

#top,
#bottom {
	left: 0; right: 0;
	height: 20px;
}
	#top { top: 0; }
	#bottom { bottom: 0; }
